{% extends "base.html" %}

{% block content %}
<h3>Create team</h3>
<form action="{% url 'game:create_team_view' %}" method="post" name="teamForm">{% csrf_token %}
    <p>Team name: <input type="text" name="team_name" id="teamName" onchange="checkSubmit()"/></p>
    <p>Race: <select name="race" id="selectRace" onchange="updateRace(this)"><option value=""></option>{% for race in race_list %}<option value="{{ race.singular }}">{{ race.singular }}</option>{% endfor %}</select></p>
    <p>Team rating: n/a</p>
    <p>Treasury: <span id="treasury">1,000,000</span></p>
    <p>Head coach: {{ username }}</p>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Position</th>
            <th>MA</th>
            <th>ST</th>
            <th>AG</th>
            <th>AV</th>
            <th>Skills</th>
            <th>Inj.</th>
            <th>Comp.</th>
            <th>TD</th>
            <th>Int.</th>
            <th>Cas.</th>
            <th>MVP</th>
            <th>SPP</th>
            <th>Cost</th>
        </tr>{% for number in number_range %}
        <tr>
            <td>{{ number }}</td>
            <td><input type="text" name="name{{ number }}" id="name{{ number }}" onchange="checkSubmit()"/></td>
            <td><select class="selectPosition" name="position{{ number }}" id="select{{ number }}" onchange="updatePosition(this, {{ number }})"><option value=""></option></select></td>
            <td id="ma{{ number }}">&nbsp;</td>
            <td id="st{{ number }}">&nbsp;</td>
            <td id="ag{{ number }}">&nbsp;</td>
            <td id="av{{ number }}">&nbsp;</td>
            <td id="skills{{ number }}">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id="cost{{ number }}">&nbsp;</td>
        </tr>{% endfor %}
        <tr>
            <td colspan="8">&nbsp;</td>
            <td colspan="3">Re-rolls:</td>
            <td><select name="rerolls" id="selectRerolls" onchange="updateRerolls(this)">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select></td>
            <td colspan="3" id="rerollCost">&nbsp;</td>
            <td id="rerollTotal">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="8">&nbsp;</td>
            <td colspan="7">Total:</td>
            <td>1,000,000</td>
        </tr>
    </table>

    <table>
        <tr>
	    <th colspan="4">Home strip</th>
	    <th colspan="4">Away strip</th>
	</tr>
	<tr>
	    <td rowspan="{{colors|length}}">Primary</td>
	    {% for color in colors %}<td style="background-color:rgb({{color}})">
	        <input type="radio" name="colorHomePrimary" id="colorHomePrimary{{forloop.counter0}}" value="{{color}}" onchange="updateColor(this, 'home', 'primary', {{forloop.counter0}})"/>
	    </td>
	    {% if forloop.first %}<td rowspan="{{colors|length}}">Secondary</td>
	    {% endif %}<td style="background-color:rgb({{color}})">
	        <input type="radio" name="colorHomeSecondary" id="colorHomeSecondary{{forloop.counter0}}" value="{{color}}" onchange="updateColor(this, 'home', 'secondary', {{forloop.counter0}})"/>
	    </td>
	    {% if forloop.first %}<td rowspan="{{colors|length}}">Primary</td>
	    {% endif %}<td style="background-color:rgb({{color}})">
	        <input type="radio" name="colorAwayPrimary" id="colorAwayPrimary{{forloop.counter0}}" value="{{color}}" onchange="updateColor(this, 'away', 'primary', {{forloop.counter0}})"/>
	    </td>
	    {% if forloop.first %}<td rowspan="{{colors|length}}">Secondary</td>
	    {% endif %}<td style="background-color:rgb({{color}})">
	        <input type="radio" name="colorAwaySecondary" id="colorAwaySecondary{{forloop.counter0}}" value="{{color}}" onchange="updateColor(this, 'away', 'secondary', {{forloop.counter0}})"/>
	    </td>
        </tr>{% endfor %}
    </table>
    
    <input id="submit" type="submit" value="Create" disabled />
</form>

<script type="text/javascript">
var data = {
    "": {
        "": {
            ma: "&nbsp;",
            st: "&nbsp;",
            ag: "&nbsp;",
            av: "&nbsp;",
            skills: "&nbsp;",
            cost: "&nbsp;",
            maxQuantity: 16,
        }
    }{% for race in race_list %},
    "{{ race.singular }}": {
        "": {
            ma: "&nbsp;",
            st: "&nbsp;",
            ag: "&nbsp;",
            av: "&nbsp;",
            skills: "&nbsp;",
            cost: "&nbsp;",
            maxQuantity: 16,
        }{% for position in race.position_set.all %},
        "{{ position.title }}": {
            ma: {{ position.ma }},
            st: {{ position.st }},
            ag: {{ position.ag }},
            av: {{ position.av }},
            skills: "{{ position.skills }}",
            cost: {{ position.cost }},
            maxQuantity: {{ position.max_quantity }},
        }{% endfor %}
    }{% endfor %}
}

var rerollCost = {
    "": 0{% for race in race_list %},
    "{{ race.singular }}": {{ race.reroll_cost }}{% endfor %}
}

var clearAll = function() {
    var i = 0
    var maBox;
    while (true) {
        i += 1;
        maBox = document.getElementById("ma"+i);
        if (maBox == null) {
            break;
        }
        maBox.innerHTML = "&nbsp;";
        document.getElementById("st"+i).innerHTML = "&nbsp;";
        document.getElementById("ag"+i).innerHTML = "&nbsp;";
        document.getElementById("av"+i).innerHTML = "&nbsp;";
        document.getElementById("skills"+i).innerHTML = "&nbsp;";
        document.getElementById("cost"+i).innerHTML = "&nbsp;";
    }
    document.getElementById("submit").disabled = true;
}

var updateTreasury = function() {
    var cost = calculateCost();
    var treasury = document.getElementById("treasury");
    if (cost == 0) {
        treasury.innerHTML = "1,000,000";
    } else {
        treasury.innerHTML = (1000-cost)+",000";
    }
}

var calculateCost = function() {
    var race = document.getElementById("selectRace").value;
    var cost = 0;
    var i = 0;
    var positionSelect;
    while (true) {
        i += 1;
        positionSelect = document.getElementById("select"+i);
        if (positionSelect == null) {
            break;
        } else if (positionSelect.value != "") {
            cost += data[race][positionSelect.value].cost;
        }
    }
    var selectRerolls = document.getElementById("selectRerolls");
    cost += rerollCost[race] * selectRerolls.value;
    return cost;
}

var updateRace = function(selectRace) {
    clearAll();
    var selectPositionList = document.getElementsByClassName("selectPosition");
    for (var i = 0; i < selectPositionList.length; i++) {
        var selectPosition = selectPositionList[i];
        while (selectPosition.length > 0) {
            selectPosition.remove(selectPosition.length-1);
        }
        for (var position in data[selectRace.value]) {
            var option = document.createElement("option");
            option.text = position;
            option.value = position;
            selectPosition.add(option);
        }
    }
    var tdRerollCost = document.getElementById("rerollCost");
    var tdRerollTotal = document.getElementById("rerollTotal");
    if (selectRace.value == "") {
        tdRerollCost.innerHTML = "&nbsp;";
        tdRerollTotal.innerHTML = "&nbsp;";
    } else {
        tdRerollCost.innerHTML = "x " + rerollCost[selectRace.value] + ",000";
        var selectRerolls = document.getElementById("selectRerolls");
        tdRerollTotal.innerHTML = (selectRerolls.value * rerollCost[selectRace.value]) + ",000";
    }
    updateTreasury();
}

var updatePosition = function(selectPosition, number) {
    var position = data[document.getElementById("selectRace").value][selectPosition.value];
    document.getElementById("ma"+number).innerHTML = position.ma;
    document.getElementById("st"+number).innerHTML = position.st;
    document.getElementById("ag"+number).innerHTML = position.ag;
    document.getElementById("av"+number).innerHTML = position.av;
    document.getElementById("skills"+number).innerHTML = position.skills;
    if (position.cost == "&nbsp;") {
        document.getElementById("cost"+number).innerHTML = position.cost;
    } else {
        document.getElementById("cost"+number).innerHTML = position.cost + ",000";
    }
    updateTreasury();
    checkSubmit();
}

var updateRerolls = function(selectRerolls) {
    var nRerolls = selectRerolls.value;
    var rerollTotal = nRerolls * rerollCost[document.getElementById("selectRace").value];
    var tdRerollTotal = document.getElementById("rerollTotal");
    if (rerollTotal == 0) {
        tdRerollTotal.innerHTML = "&nbsp;";
    } else {
        tdRerollTotal.innerHTML = rerollTotal + ",000";
    }
    updateTreasury();
    checkSubmit();
}

var colors = {
    home: {
        primary: null,
        secondary: null
    },
    away: {
        primary: null,
        secondary: null
    }
};
var reverseHomeOrAway = function(homeOrAway) {
    return (homeOrAway == "home") ? "away" : "home";
}
var reversePrimaryOrSecondary = function(primaryOrSecondary) {
    return (primaryOrSecondary == "primary") ? "secondary" : "primary";
}
var capitalise = function(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
var updateColor = function(radio, newHomeOrAway, newPrimaryOrSecondary, num) {
    var homeOrAwayOptions = ['home', 'away'];
    var primaryOrSecondaryOptions = ['primary', 'secondary'];
    var homeOrAway, primaryOrSecondary, i, id, id1, radio, radio1;
    for (var iHOA = 0; iHOA < homeOrAwayOptions.length; iHOA++) {
        homeOrAway = homeOrAwayOptions[iHOA];
        for (var iPOS = 0; iPOS < primaryOrSecondaryOptions.length; iPOS++) {
            primaryOrSecondary = primaryOrSecondaryOptions[iPOS];
            i = 0;
            while (true) {
                id = "color" + capitalise(homeOrAway) + capitalise(primaryOrSecondary) + i;
                radio = document.getElementById(id);
                if (radio == null) {
                    break;
                }
                // If the same color is already selected in this strip, disable
                id1 = "color" + capitalise(homeOrAway) + capitalise(reversePrimaryOrSecondary(primaryOrSecondary)) + i;
                radio1 = document.getElementById(id1);
                radio.disabled = radio1.checked;
                // If this is primary the other primary color must be different
                if (primaryOrSecondary == "primary") {
                    id1 = "color" + capitalise(reverseHomeOrAway(homeOrAway)) + "Primary" + i;
                    radio1 = document.getElementById(id1);
                    if (radio1.checked) {
                        radio.disabled = true;
                    }
                }
                i += 1;
            }
        }
    }
    colors[newHomeOrAway][newPrimaryOrSecondary] = num;
    checkSubmit();
}

var colorsSelected = function() {
    var n = 0
    var homeOrAwayOptions = ['home', 'away'];
    var primaryOrSecondaryOptions = ['primary', 'secondary'];
    var homeOrAway, primaryOrSecondary, i, id, radio;
    for (var iHOA = 0; iHOA < homeOrAwayOptions.length; iHOA++) {
        homeOrAway = homeOrAwayOptions[iHOA];
        for (var iPOS = 0; iPOS < primaryOrSecondaryOptions.length; iPOS++) {
            primaryOrSecondary = primaryOrSecondaryOptions[iPOS];
            i = 0;
            while (true) {
                id = "color" + capitalise(homeOrAway) + capitalise(primaryOrSecondary) + i;
                radio = document.getElementById(id);
                if (radio == null) {
                    break;
                }
                if (radio.checked) {
                    n += 1;
                    if (n == 4) {
                        return true;
                    }
                }
                i += 1;
            }
        }
    }
    return false;
}

var checkSubmit = function() {
    document.getElementById("submit").disabled = !isValidTeam();
}

var isValidTeam = function() {
    return (nPlayers() >= 11 && calculateCost() <= 1000 && colorsSelected() && hasTeamName() && allValidNames() && positionsLimited());
}

var nPlayers = function() {
    var n = 0;
    var i = 0;
    var positionSelect;
    while (true) {
        i += 1;
        positionSelect = document.getElementById("select"+i);
        if (positionSelect == null) {
            break;
        }
        if (positionSelect.value != "" && document.getElementById("name"+i).value != "") {
            n += 1;
        }
    }
    return n;
}

var allValidNames = function() {
    var i = 0;
    var positionSelect;
    var names = [];
    var name;
    while (true) {
        i += 1;
        positionSelect = document.getElementById("select"+i);
        if (positionSelect == null) {
            // Ran out of lines, so jump out of the while loop
            break;
        }
        if (positionSelect.value != "") {
            // A position has been selected for this table row
            name = document.getElementById("name"+i).value;
            if (name == "") {
                // Position selected but no name given - bad!
                return false;
            } else {
                for (var j = 0; j < names.length; j++) {
                    if (name == names[j]) {
                        // Name already used - bad!
                        return false;
                    }
                }
                // Name is unique - add it to the list
                names[names.length] = name;
            }
        }
    }
    return true;
}

var hasTeamName = function() {
    return (document.getElementById("teamName").value != "");
}

var positionsLimited = function() {
    var race = document.getElementById("selectRace").value;
    var quantity = {};
    var position;
    for (position in data[race]) {
        // Populate tallies with zeros
        quantity[position] = 0;
    }
    var selectPositionList = document.getElementsByClassName("selectPosition");
    for (var i = 0; i < selectPositionList.length; i++) {
        position = selectPositionList[i].value;
        quantity[position] += 1;
        if (quantity[position] > data[race][position]["maxQuantity"]) {
            // Quantity in this position has exceeded the maximum allowed
            return false;
        }
    }
    return true;
}
</script>

{% endblock content %}
