{% extends "base.html" %}

{% block content %}
<h3>Name</h3>
<p>Race: <select id="selectRace" onchange="updateRace(this)"><option value=""></option>{% for race in race_list %}<option value="{{ race.singular }}">{{ race.singular }}</option>{% endfor %}</select></p>
<p>Team rating: n/a</p>
<p>Treasury: <span id="treasury">1,000,000</span></p>
<p>Head coach: {{ username }}</p>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Position</th>
        <th>MA</th>
        <th>ST</th>
        <th>AG</th>
        <th>AV</th>
        <th>Skills</th>
        <th>Inj.</th>
        <th>Comp.</th>
        <th>TD</th>
        <th>Int.</th>
        <th>Cas.</th>
        <th>MVP</th>
        <th>SPP</th>
        <th>Cost</th>
    </tr>{% for number in number_range %}
    <tr>
        <td>{{ number }}</td>
        <td><input type="text" id="name{{ number }}"/></td>
        <td><select class="selectPosition" id="select{{ number }}" onchange="updatePosition(this, {{ number }})"><option value=""></option></select></td>
        <td id="ma{{ number }}">&nbsp;</td>
        <td id="st{{ number }}">&nbsp;</td>
        <td id="ag{{ number }}">&nbsp;</td>
        <td id="av{{ number }}">&nbsp;</td>
        <td id="skills{{ number }}">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="cost{{ number }}">&nbsp;</td>
    </tr>{% endfor %}
    <tr>
        <td colspan="8">&nbsp;</td>
        <td colspan="3">Re-rolls:</td>
        <td><select id="selectRerolls" onchange="updateRerolls(this)">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select></td>
        <td colspan="3" id="rerollCost">&nbsp;</td>
        <td id="rerollTotal">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="8">&nbsp;</td>
        <td colspan="7">Total:</td>
        <td>1,000,000</td>
    </tr>
</table>

<script type="text/javascript">
var data = {
    "": {
        "": {
            ma: "&nbsp;",
            st: "&nbsp;",
            ag: "&nbsp;",
            av: "&nbsp;",
            skills: "&nbsp;",
            cost: "&nbsp;"
        }
    }{% for race in race_list %},
    "{{ race.singular }}": {
        "": {
            ma: "&nbsp;",
            st: "&nbsp;",
            ag: "&nbsp;",
            av: "&nbsp;",
            skills: "&nbsp;",
            cost: "&nbsp;"
        }{% for position in race.position_set.all %},
        "{{ position.title }}": {
            ma: {{ position.ma }},
            st: {{ position.st }},
            ag: {{ position.ag }},
            av: {{ position.av }},
            skills: "{{ position.skills }}",
            cost: {{ position.cost }}
        }{% endfor %}
    }{% endfor %}
}

var rerollCost = {
    "": 0{% for race in race_list %},
    "{{ race.singular }}": {{ race.reroll_cost }}{% endfor %}
}

var clearAll = function() {
    var i = 0
    var maBox;
    while (true) {
        i += 1;
        maBox = document.getElementById("ma"+i);
        if (maBox == null) {
            break;
        }
        maBox.innerHTML = "&nbsp;";
        document.getElementById("st"+i).innerHTML = "&nbsp;";
        document.getElementById("ag"+i).innerHTML = "&nbsp;";
        document.getElementById("av"+i).innerHTML = "&nbsp;";
        document.getElementById("skills"+i).innerHTML = "&nbsp;";
        document.getElementById("cost"+i).innerHTML = "&nbsp;";
    }
}

var updateTreasury = function() {
    var race = document.getElementById("selectRace").value;
    var cost = 0;
    var i = 0;
    var positionSelect;
    while (true) {
        i += 1;
        positionSelect = document.getElementById("select"+i);
        if (positionSelect == null) {
            break;
        } else if (positionSelect.value != "") {
            cost += data[race][positionSelect.value].cost;
        }
    }
    var selectRerolls = document.getElementById("selectRerolls");
    cost += rerollCost[race] * selectRerolls.value;
    var treasury = document.getElementById("treasury");
    if (cost == 0) {
        treasury.innerHTML = "1,000,000";
    } else {
        treasury.innerHTML = (1000-cost)+",000";
    }
}

var updateRace = function(selectRace) {
    clearAll();
    var selectPositionList = document.getElementsByClassName("selectPosition");
    for (var i = 0; i < selectPositionList.length; i++) {
        var selectPosition = selectPositionList[i];
        while (selectPosition.length > 0) {
            selectPosition.remove(selectPosition.length-1);
        }
        for (var position in data[selectRace.value]) {
            var option = document.createElement("option");
            option.text = position;
            option.value = position;
            selectPosition.add(option);
        }
    }
    var tdRerollCost = document.getElementById("rerollCost");
    var tdRerollTotal = document.getElementById("rerollTotal");
    if (selectRace.value == "") {
        tdRerollCost.innerHTML = "&nbsp;";
        tdRerollTotal.innerHTML = "&nbsp;";
    } else {
        tdRerollCost.innerHTML = "x " + rerollCost[selectRace.value] + ",000";
        var selectRerolls = document.getElementById("selectRerolls");
        tdRerollTotal.innerHTML = (selectRerolls.value * rerollCost[selectRace.value]) + ",000";
    }
    updateTreasury();
}

var updatePosition = function(selectPosition, number) {
    var position = data[document.getElementById("selectRace").value][selectPosition.value];
    document.getElementById("ma"+number).innerHTML = position.ma;
    document.getElementById("st"+number).innerHTML = position.st;
    document.getElementById("ag"+number).innerHTML = position.ag;
    document.getElementById("av"+number).innerHTML = position.av;
    document.getElementById("skills"+number).innerHTML = position.skills;
    if (position.cost == "&nbsp;") {
        document.getElementById("cost"+number).innerHTML = position.cost;
    } else {
        document.getElementById("cost"+number).innerHTML = position.cost + ",000";
    }
    updateTreasury();
}

var updateRerolls = function(selectRerolls) {
    var nRerolls = selectRerolls.value;
    var rerollTotal = nRerolls * rerollCost[document.getElementById("selectRace").value];
    var tdRerollTotal = document.getElementById("rerollTotal");
    if (rerollTotal == 0) {
        tdRerollTotal.innerHTML = "&nbsp;";
    } else {
        tdRerollTotal.innerHTML = rerollTotal + ",000";
    }
    updateTreasury();
}
</script>

{% endblock content %}
